@charset "UTF-8";
/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
address,
blockquote,
dl,
figure,
form,
iframe,
p,
pre,
table {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
embed,
iframe,
img,
object {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
[type="button"],
[type="reset"],
[type="submit"],
button {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled],
button[disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@media screen and (max-width: 767px) {
  body {
    min-width: 320px;
  }
  body,
  html {
    height: 100%;
    min-height: 100%;
  }
}

@media screen and (min-width: 1180px) {
  body {
    width: 100%;
  }
}

.header {
  width: 100%;
  height: 60px;
  border-bottom: 2px solid whitesmoke;
  color: #555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 25px;
}

.header__list-item {
  margin: 15px 15px;
  font-size: 16px;
  line-height: 30px;
  font-family: "Montserrat", sans-serif;
}

.header .site-logo {
  width: 80px;
  height: 40px;
  margin: 10px 40px;
}

@media screen and (max-width: 767px) {
  .header .site-logo {
    width: 60px;
    height: 30px;
    margin-top: 20px;
    margin-left: 20px;
  }
}

.header nav {
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  line-height: 60px;
}

.header #list01:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 2px solid #ff8c88;
  border-bottom: 2px solid #ff8c88;
}

.header #list02:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 2px solid #ffb688;
  border-bottom: 2px solid #ffb688;
}

.header #list03:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 2px solid #ffd588;
  border-bottom: 2px solid #ffd588;
}

.header #list04:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 2px solid #72dbbc;
  border-bottom: 2px solid #72dbbc;
}

.header #list05:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 2px solid #88c9ff;
  border-bottom: 2px solid #88c9ff;
}

.header .hamburger {
  display: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
}

.header .h-span {
  display: block;
  width: 20px;
  height: 1px;
  background: #333;
  position: absolute;
  right: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;
}

.header .hamburger:hover .h-span:nth-child(2) {
  left: 15px;
}

.header .hamburger .h-span:nth-child(1) {
  top: 10px;
}

.header .hamburger .h-span:nth-child(2) {
  top: 20px;
}

.header .hamburger .h-span:nth-child(3) {
  top: 30px;
}

.header .hamburger.active .h-span:nth-child(1) {
  top: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .hamburger.active .h-span:nth-child(2) {
  right: 60px;
  opacity: 0;
}

.header .hamburger.active .h-span:nth-child(3) {
  top: 20px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header body.hidden {
  overflow: hidden;
}

@media screen and (max-width: 1179px) {
  .header .header__nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 998;
    background: #fff;
    display: none;
  }
  .header nav {
    position: absolute;
    content: "";
    top: 65%;
    left: 52%;
    -webkit-transform: translate(-65%, -52%);
            transform: translate(-65%, -52%);
    height: 100%;
    text-align: center;
  }
  .header .header__list {
    display: block;
    margin: 0 auto;
    line-height: 60px;
  }
  .header .nav__link {
    z-index: 1000;
  }
  .header .hamburger {
    display: block;
  }
}

@media screen and (min-width: 1180px) {
  .header .header-nav {
    display: block !important;
  }
}

.footer {
  text-align: center;
  font-size: 0.7em;
  height: 50px;
  background: #fff;
  padding-top: 20px;
}

.mv {
  width: 100%;
  height: 600px;
  position: relative;
}

.mv .site__ttl {
  font-size: 30px;
  color: #444;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 45%;
  -webkit-transform: translate(-30%, -45%);
          transform: translate(-30%, -45%);
  font-family: "Noto Sans JP", sans-serif;
}

@media screen and (max-width: 1179px) {
  .mv .site__ttl {
    top: 28%;
    left: 43%;
    -webkit-transform: translate(-28%, -43%);
            transform: translate(-28%, -43%);
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .mv .site__ttl {
    top: 38%;
    left: 45%;
    -webkit-transform: translate(-38%, -45%);
            transform: translate(-38%, -45%);
    font-size: 16px;
  }
}

.mv .mv__ttl {
  font-size: 100px;
  color: #444;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  letter-spacing: 0.1em;
  font-family: "Noto Sans JP", sans-serif;
}

@media screen and (max-width: 1179px) {
  .mv .mv__ttl {
    size: 60px;
  }
}

@media screen and (max-width: 767px) {
  .mv .mv__ttl {
    font-size: 50px;
  }
}

.mv .mv__date {
  font-size: 24px;
  color: #444;
  text-align: center;
  position: absolute;
  letter-spacing: 0.05em;
  top: 70%;
  left: 52%;
  -webkit-transform: translate(-70%, -52%);
          transform: translate(-70%, -52%);
  font-family: "Noto Sans JP", sans-serif;
}

@media screen and (max-width: 1179px) {
  .mv .mv__date {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .mv .mv__date {
    top: 61%;
    left: 52%;
    -webkit-transform: translate(-61%, -52%);
            transform: translate(-61%, -52%);
    font-size: 16px;
  }
}

.mv .fadein {
  opacity: 0;
  -webkit-animation: fadein 1s ease forwards;
          animation: fadein 1s ease forwards;
}

@-webkit-keyframes fadein {
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

.mv .site__ttl {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.mv .mv__ttl {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.mv .mv__date {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.mv .circle-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mv .circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: -1;
}

@media screen and (max-width: 1179px) {
  .mv .circle {
    width: 140px;
    height: 140px;
  }
}

@media screen and (max-width: 767px) {
  .mv .circle {
    width: 70px;
    height: 70px;
  }
}

.mv .c01 {
  position: absolute;
  background: rgba(255, 166, 166, 0.7);
  top: 36%;
  left: 8%;
  -webkit-transform: translate(-36%, -8%);
          transform: translate(-36%, -8%);
  -webkit-box-shadow: 0px 0px 30px #ffa6a6;
          box-shadow: 0px 0px 30px #ffa6a6;
}

@media screen and (max-width: 1179px) {
  .mv .c01 {
    top: 40%;
    left: 8%;
    -webkit-transform: translate(-40%, -8%);
            transform: translate(-40%, -8%);
  }
}

@media screen and (max-width: 767px) {
  .mv .c01 {
    top: 44%;
    left: 9%;
    -webkit-transform: translate(-44%, -9%);
            transform: translate(-44%, -9%);
  }
}

.mv .c02 {
  background: rgba(255, 203, 154, 0.9);
  position: absolute;
  top: 40%;
  left: 22%;
  -webkit-transform: translate(-40%, -20%);
          transform: translate(-40%, -20%);
  -webkit-box-shadow: 0px 0px 30px #ffcb9a;
          box-shadow: 0px 0px 30px #ffcb9a;
}

@media screen and (max-width: 1179px) {
  .mv .c02 {
    top: 43%;
    left: 22%;
    -webkit-transform: translate(-43%, -22%);
            transform: translate(-43%, -22%);
  }
}

@media screen and (max-width: 767px) {
  .mv .c02 {
    top: 46%;
    left: 22%;
    -webkit-transform: translate(-46%, -22%);
            transform: translate(-46%, -22%);
  }
}

.mv .c03 {
  background: rgba(255, 248, 183, 0.9);
  position: absolute;
  top: 45%;
  left: 36%;
  -webkit-transform: translate(-45%, -36%);
          transform: translate(-45%, -36%);
  -webkit-box-shadow: 0px 0px 30px #fff8b7;
          box-shadow: 0px 0px 30px #fff8b7;
}

@media screen and (max-width: 1179px) {
  .mv .c03 {
    top: 46%;
    left: 36%;
    -webkit-transform: translate(-46%, -36%);
            transform: translate(-46%, -36%);
  }
}

@media screen and (max-width: 767px) {
  .mv .c03 {
    top: 48%;
    left: 36%;
    -webkit-transform: translate(-48%, -36%);
            transform: translate(-48%, -36%);
  }
}

.mv .c04 {
  background: rgba(203, 241, 203, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 0px 30px #cbf1cb;
          box-shadow: 0px 0px 30px #cbf1cb;
}

.mv .c05 {
  background: rgba(193, 253, 255, 0.8);
  position: absolute;
  top: 53%;
  left: 64%;
  -webkit-transform: translate(-53%, -64%);
          transform: translate(-53%, -64%);
  -webkit-box-shadow: 0px 0px 30px #c1fdff;
          box-shadow: 0px 0px 30px #c1fdff;
}

@media screen and (max-width: 1179px) {
  .mv .c05 {
    top: 54%;
    left: 64%;
    -webkit-transform: translate(-54%, -64%);
            transform: translate(-54%, -64%);
  }
}

@media screen and (max-width: 767px) {
  .mv .c05 {
    top: 52%;
    left: 64%;
    -webkit-transform: translate(-52%, -64%);
            transform: translate(-52%, -64%);
  }
}

.mv .c06 {
  background: rgba(161, 205, 255, 0.8);
  position: absolute;
  top: 58%;
  left: 78%;
  -webkit-transform: translate(-58%, -78%);
          transform: translate(-58%, -78%);
  -webkit-box-shadow: 0px 0px 30px #a1cdff;
          box-shadow: 0px 0px 30px #a1cdff;
}

@media screen and (max-width: 1179px) {
  .mv .c06 {
    top: 57%;
    left: 78%;
    -webkit-transform: translate(-57%, -78%);
            transform: translate(-57%, -78%);
  }
}

@media screen and (max-width: 767px) {
  .mv .c06 {
    top: 54%;
    left: 77%;
    -webkit-transform: translate(-54%, -77%);
            transform: translate(-54%, -77%);
  }
}

.mv .c07 {
  background: rgba(227, 155, 255, 0.8);
  position: absolute;
  top: 63%;
  left: 92%;
  -webkit-transform: translate(-63%, -92%);
          transform: translate(-63%, -92%);
  -webkit-box-shadow: 0px 0px 30px #e39bff;
          box-shadow: 0px 0px 30px #e39bff;
}

@media screen and (max-width: 1179px) {
  .mv .c07 {
    top: 60%;
    left: 92%;
    -webkit-transform: translate(-60%, -92%);
            transform: translate(-60%, -92%);
  }
}

@media screen and (max-width: 767px) {
  .mv .c07 {
    top: 56%;
    left: 90%;
    -webkit-transform: translate(-56%, -90%);
            transform: translate(-56%, -90%);
  }
}

.mv__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #555;
  z-index: -1000;
  margin-top: 190px;
  padding-left: 10px;
  padding-top: 8px;
}

.mv__list-item {
  font-size: 38px;
  margin: 0 10px;
  position: relative;
  z-index: 1000;
}

.mv__list-item::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  background: #fff;
  top: 8px;
  left: 3px;
  border-radius: 5px;
  z-index: -1;
}

.member {
  width: 100%;
  height: 600px;
  background: #FFEDE0;
}

@media screen and (max-width: 767px) {
  .member {
    height: 650px;
  }
}

.member .sub__ttl {
  text-align: center;
  padding-top: 80px;
}

@media screen and (max-width: 767px) {
  .member .sub__ttl {
    padding-top: 60px;
  }
}

.member .member__content {
  width: 760px;
  height: 350px;
  border: 1px solid #444;
  color: #444;
  background: #fff;
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
  -webkit-box-shadow: -10px 10px 15px -10px rgba(0, 0, 0, 0.5);
          box-shadow: -10px 10px 15px -10px rgba(0, 0, 0, 0.5);
  padding: 0 30px;
}

@media screen and (max-width: 1179px) {
  .member .member__content {
    width: 650px;
  }
}

@media screen and (max-width: 767px) {
  .member .member__content {
    width: 300px;
    height: 430px;
  }
}

.member .member__content-ttl {
  margin-top: 30px;
  font-size: 24px;
  color: #444;
  font-family: "Noto Sans JP", sans-serif;
}

@media screen and (max-width: 1179px) {
  .member .member__content-ttl {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .member .member__content-ttl {
    font-size: 14px;
  }
}

.member .member__content-txt {
  margin-top: 30px;
  font-size: 16px;
  line-height: 40px;
  color: #444;
  font-family: "Noto Sans JP", sans-serif;
}

@media screen and (max-width: 1179px) {
  .member .member__content-txt {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .member .member__content-txt {
    font-size: 11px;
  }
}

.member .section__ttl {
  display: inline-block;
  font-size: 36px;
  border-bottom: 2px solid #444;
  padding: 0 10px;
  color: #444;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

@media screen and (max-width: 1179px) {
  .member .section__ttl {
    font-size: 24px;
  }
}

.member .section__btn {
  margin-top: 30px;
  display: inline-block;
  width: 140px;
  height: 40px;
  border: 1px solid #444;
  color: #444;
  font-size: 14px;
  padding: 12px;
  padding-left: 20px;
  text-align: left;
  position: relative;
  z-index: 1000;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 1179px) {
  .member .section__btn {
    font-size: 12px;
    width: 120px;
    height: 35px;
  }
}

.member .section__btn::before {
  position: absolute;
  content: "▲";
  font-size: 14px;
  color: #444;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 11px;
  left: 105px;
  z-index: 100;
}

@media screen and (max-width: 1179px) {
  .member .section__btn::before {
    font-size: 12px;
    left: 90px;
  }
}

.member .section__btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-color: rgba(197, 175, 168, 0.8);
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  -webkit-transform: translate(-8%, -20%);
          transform: translate(-8%, -20%);
}

.member .section__btn:hover::after {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.member .fadeIn_item.offs,
.offs .member .fadeIn_item {
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.member .fadeIn_item.ons,
.ons .member .fadeIn_item {
  -webkit-transition: all 1s cubic-bezier(0, 0, 0.13, 0.79);
  transition: all 1s cubic-bezier(0, 0, 0.13, 0.79);
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.tosensei {
  width: 100%;
  height: 600px;
  background: #FFF8EE;
}

@media screen and (max-width: 767px) {
  .tosensei {
    height: 520px;
  }
}

.tosensei .sub__ttl {
  text-align: center;
  padding-top: 80px;
}

@media screen and (max-width: 767px) {
  .tosensei .sub__ttl {
    padding-top: 60px;
  }
}

.tosensei .tosensei__content {
  width: 760px;
  height: 270px;
  border: 1px solid #444;
  background: #fff;
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
  -webkit-box-shadow: -10px 10px 15px -10px rgba(0, 0, 0, 0.5);
          box-shadow: -10px 10px 15px -10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1179px) {
  .tosensei .tosensei__content {
    width: 650px;
  }
}

@media screen and (max-width: 767px) {
  .tosensei .tosensei__content {
    width: 300px;
    height: 280px;
  }
}

.tosensei .tosensei__content-ttl {
  margin-top: 30px;
  font-size: 24px;
  color: #444;
  font-family: "Noto Sans JP", sans-serif;
}

@media screen and (max-width: 1179px) {
  .tosensei .tosensei__content-ttl {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .tosensei .tosensei__content-ttl {
    font-size: 14px;
  }
}

.tosensei .tosensei__content-txt {
  margin-top: 30px;
  font-size: 16px;
  line-height: 40px;
  color: #444;
  font-family: "Noto Sans JP", sans-serif;
}

@media screen and (max-width: 1179px) {
  .tosensei .tosensei__content-txt {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .tosensei .tosensei__content-txt {
    font-size: 11px;
  }
}

.tosensei .section__ttl {
  display: inline-block;
  font-size: 36px;
  border-bottom: 2px solid #444;
  padding: 0 10px;
  color: #444;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

@media screen and (max-width: 1179px) {
  .tosensei .section__ttl {
    font-size: 24px;
  }
}

.tosensei .section__btn {
  margin-top: 30px;
  display: inline-block;
  width: 140px;
  height: 40px;
  color: #555;
  border: 1px solid #444;
  font-size: 14px;
  padding: 12px;
  padding-left: 20px;
  text-align: left;
  position: relative;
  z-index: 1000;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 1179px) {
  .tosensei .section__btn {
    font-size: 12px;
    width: 120px;
    height: 35px;
  }
}

.tosensei .section__btn::before {
  position: absolute;
  content: "▲";
  font-size: 14px;
  color: #444;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 11px;
  left: 105px;
  z-index: 100;
}

@media screen and (max-width: 1179px) {
  .tosensei .section__btn::before {
    font-size: 12px;
    left: 90px;
  }
}

.tosensei .section__btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-color: rgba(197, 175, 168, 0.8);
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  -webkit-transform: translate(-8%, -20%);
          transform: translate(-8%, -20%);
}

.tosensei .section__btn:hover::after {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.tosensei .fadeIn_item.offs,
.offs .tosensei .fadeIn_item {
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.tosensei .fadeIn_item.ons,
.ons .tosensei .fadeIn_item {
  -webkit-transition: all 1s cubic-bezier(0, 0, 0.13, 0.79);
  transition: all 1s cubic-bezier(0, 0, 0.13, 0.79);
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.teachers {
  width: 100%;
  height: 600px;
  background: #ECFFF8;
}

.teachers .sub__ttl {
  text-align: center;
  padding-top: 80px;
}

@media screen and (max-width: 767px) {
  .teachers .sub__ttl {
    padding-top: 60px;
  }
}

.teachers .teachers__content {
  width: 760px;
  height: 270px;
  border: 1px solid #444;
  background: #fff;
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
  -webkit-box-shadow: -10px 10px 15px -10px rgba(0, 0, 0, 0.5);
          box-shadow: -10px 10px 15px -10px rgba(0, 0, 0, 0.5);
  padding: 0 30px;
}

@media screen and (max-width: 1179px) {
  .teachers .teachers__content {
    width: 650px;
  }
}

@media screen and (max-width: 767px) {
  .teachers .teachers__content {
    width: 300px;
    height: 360px;
  }
}

.teachers .teachers__content-ttl {
  margin-top: 30px;
  font-size: 24px;
  color: #444;
  font-family: "Noto Sans JP", sans-serif;
}

@media screen and (max-width: 1179px) {
  .teachers .teachers__content-ttl {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .teachers .teachers__content-ttl {
    font-size: 14px;
  }
}

.teachers .teachers__content-txt {
  margin-top: 30px;
  font-size: 16px;
  line-height: 40px;
  color: #444;
  font-family: "Noto Sans JP", sans-serif;
}

@media screen and (max-width: 1179px) {
  .teachers .teachers__content-txt {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .teachers .teachers__content-txt {
    font-size: 11px;
  }
}

.teachers .section__ttl {
  display: inline-block;
  font-size: 36px;
  border-bottom: 2px solid #444;
  padding: 0 10px;
  color: #444;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

@media screen and (max-width: 1179px) {
  .teachers .section__ttl {
    font-size: 24px;
  }
}

.teachers .section__btn {
  margin-top: 30px;
  display: inline-block;
  width: 140px;
  height: 40px;
  color: #444;
  border: 1px solid #555;
  font-size: 14px;
  padding: 12px;
  padding-left: 20px;
  text-align: left;
  position: relative;
  z-index: 1000;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 1179px) {
  .teachers .section__btn {
    font-size: 12px;
    width: 120px;
    height: 35px;
  }
}

.teachers .section__btn::before {
  position: absolute;
  content: "▲";
  font-size: 14px;
  color: #444;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 11px;
  left: 105px;
  z-index: 100;
}

@media screen and (max-width: 1179px) {
  .teachers .section__btn::before {
    font-size: 12px;
    left: 90px;
  }
}

.teachers .section__btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-color: rgba(197, 175, 168, 0.8);
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  -webkit-transform: translate(-8%, -20%);
          transform: translate(-8%, -20%);
}

.teachers .section__btn:hover::after {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.teachers .fadeIn_item.offs,
.offs .teachers .fadeIn_item {
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.teachers .fadeIn_item.ons,
.ons .teachers .fadeIn_item {
  -webkit-transition: all 1s cubic-bezier(0, 0, 0.13, 0.79);
  transition: all 1s cubic-bezier(0, 0, 0.13, 0.79);
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.fromus {
  width: 100%;
  height: 600px;
  background: #e3f3ff;
}

.fromus .sub__ttl {
  text-align: center;
  padding-top: 80px;
}

@media screen and (max-width: 767px) {
  .fromus .sub__ttl {
    padding-top: 60px;
  }
}

.fromus .fromus__content {
  width: 760px;
  height: 310px;
  border: 1px solid #444;
  background: #fff;
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
  -webkit-box-shadow: -10px 10px 15px -10px rgba(0, 0, 0, 0.5);
          box-shadow: -10px 10px 15px -10px rgba(0, 0, 0, 0.5);
  padding: 0 30px;
}

@media screen and (max-width: 1179px) {
  .fromus .fromus__content {
    width: 650px;
  }
}

@media screen and (max-width: 767px) {
  .fromus .fromus__content {
    width: 300px;
    height: 380px;
  }
}

.fromus .fromus__content-ttl {
  margin-top: 30px;
  font-size: 24px;
  color: #444;
  font-family: "Noto Sans JP", sans-serif;
}

@media screen and (max-width: 1179px) {
  .fromus .fromus__content-ttl {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .fromus .fromus__content-ttl {
    font-size: 14px;
  }
}

.fromus .fromus__content-txt {
  margin-top: 30px;
  font-size: 16px;
  line-height: 40px;
  color: #444;
  font-family: "Noto Sans JP", sans-serif;
}

@media screen and (max-width: 1179px) {
  .fromus .fromus__content-txt {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .fromus .fromus__content-txt {
    font-size: 11px;
  }
}

.fromus .section__ttl {
  display: inline-block;
  font-size: 36px;
  border-bottom: 2px solid #444;
  padding: 0 10px;
  color: #444;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

@media screen and (max-width: 1179px) {
  .fromus .section__ttl {
    font-size: 24px;
  }
}

.fromus .section__btn {
  margin-top: 30px;
  display: inline-block;
  width: 140px;
  height: 40px;
  color: #444;
  border: 1px solid #555;
  font-size: 14px;
  padding: 12px;
  padding-left: 20px;
  text-align: left;
  position: relative;
  z-index: 1000;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 1179px) {
  .fromus .section__btn {
    font-size: 12px;
    width: 120px;
    height: 35px;
  }
}

.fromus .section__btn::before {
  position: absolute;
  content: "▲";
  font-size: 14px;
  color: #444;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 11px;
  left: 105px;
  z-index: 100;
}

@media screen and (max-width: 1179px) {
  .fromus .section__btn::before {
    font-size: 12px;
    left: 90px;
  }
}

.fromus .section__btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-color: rgba(197, 175, 168, 0.8);
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  -webkit-transform: translate(-8%, -20%);
          transform: translate(-8%, -20%);
}

.fromus .section__btn:hover::after {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.fromus .fadeIn_item.offs,
.offs .fromus .fadeIn_item {
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.fromus .fadeIn_item.ons,
.ons .fromus .fadeIn_item {
  -webkit-transition: all 1s cubic-bezier(0, 0, 0.13, 0.79);
  transition: all 1s cubic-bezier(0, 0, 0.13, 0.79);
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.note-member {
  width: 100%;
  background: #FFEDE0;
}

.note-member .sub__ttl {
  text-align: center;
  padding-top: 80px;
}

.note-member .section__ttl {
  display: inline-block;
  font-size: 36px;
  border-bottom: 2px solid #444;
  padding: 0 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .note-member .section__ttl {
    font-size: 28px;
  }
}

.note-member .note-member__content {
  width: 900px;
  margin: 80px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1179px) {
  .note-member .note-member__content {
    width: 650px;
  }
}

@media screen and (max-width: 767px) {
  .note-member .note-member__content {
    width: 300px;
  }
}

.note-member .note-member__item {
  width: 230px;
  height: 300px;
  background: #fff8f3;
  border: 1px solid #444;
  margin-bottom: 60px;
  -webkit-box-shadow: -10px 10px 15px -10px rgba(0, 0, 0, 0.5);
          box-shadow: -10px 10px 15px -10px rgba(0, 0, 0, 0.5);
}

.note-member .note-member__view {
  text-align: center;
  z-index: 100;
  position: relative;
}

.note-member .note-member__view::before {
  position: absolute;
  content: "";
  top: 30px;
  left: 10px;
  width: 180px;
  height: 180px;
  z-index: -1;
  background: #ffc4a0;
}

.note-member .note-member__img {
  width: 180px;
  height: 180px;
  z-index: 100;
  margin: 20px 0;
  -webkit-box-shadow: -5px 5px 10px -10px #fff;
          box-shadow: -5px 5px 10px -10px #fff;
}

.note-member .note-member-name {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #444;
  font-family: "Noto Sans JP", sans-serif;
}

.note-member .note-member-txt {
  text-align: center;
  font-size: 13px;
  margin-top: 10px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #444;
  font-family: "Noto Sans JP", sans-serif;
}

.note-member .fadeIn_item.offs,
.offs .note-member .fadeIn_item {
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.note-member .fadeIn_item.ons,
.ons .note-member .fadeIn_item {
  -webkit-transition: all 1s cubic-bezier(0, 0, 0.13, 0.79);
  transition: all 1s cubic-bezier(0, 0, 0.13, 0.79);
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.note-teacher {
  width: 100%;
  background-color: #ECFFF8;
}

.note-teacher .container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 80px 0;
}

.note-teacher .sub__ttl {
  text-align: center;
}

.note-teacher .section__ttl {
  display: inline-block;
  font-size: 36px;
  border-bottom: 2px solid #444;
  padding: 0 10px;
  color: #444;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .note-teacher .section__ttl {
    font-size: 28px;
  }
}

.note-teacher .teacher__item {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: 100;
  position: relative;
}

.note-teacher .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.note-teacher .message__img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 100;
  -webkit-box-shadow: -10px 10px 15px -10px rgba(0, 0, 0, 0.5);
          box-shadow: -10px 10px 15px -10px rgba(0, 0, 0, 0.5);
}

.note-teacher .message__box {
  width: 660px;
  border: 1px solid #444;
  background-color: #f7fffc;
  margin: 30px 0;
  border-radius: 40px;
  padding: 10px 30px 20px;
  font-size: 14px;
  -webkit-box-shadow: -10px 10px 15px -10px rgba(0, 0, 0, 0.5);
          box-shadow: -10px 10px 15px -10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1179px) {
  .note-teacher .message__box {
    width: 450px;
  }
}

@media screen and (max-width: 767px) {
  .note-teacher .message__box {
    width: 300px;
  }
}

.note-teacher .message__box__name {
  padding: 5px 10px 5px;
  margin-left: 5px;
  border-bottom: 1px solid #444;
  display: inline-block;
  font-family: "Noto Sans JP", sans-serif;
}

.note-teacher .message__box__txt {
  padding-top: 10px;
  font-family: "Noto Sans JP", sans-serif;
}

.note-teacher .message-02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px;
}

@media screen and (max-width: 767px) {
  .note-teacher .message-02 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.note-teacher .fadeIn_item.offs,
.offs .note-teacher .fadeIn_item {
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.note-teacher .fadeIn_item.ons,
.ons .note-teacher .fadeIn_item {
  -webkit-transition: all 1s cubic-bezier(0, 0, 0.13, 0.79);
  transition: all 1s cubic-bezier(0, 0, 0.13, 0.79);
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.note-tosensei {
  background-color: #FFF8EE;
  z-index: -1000;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 80px 0;
}

.sub__ttl {
  text-align: center;
}

.section__ttl {
  display: inline-block;
  font-size: 36px;
  border-bottom: 2px solid #444;
  padding: 0 10px;
  color: #444;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .section__ttl {
    font-size: 28px;
  }
}

.message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
  z-index: 100;
}

.message__icon {
  width: 300px;
  height: 400px;
  border: 1px solid #444;
  background-color: #fffbf5;
  margin: 30px 0;
  position: relative;
  z-index: 100;
}

.message__icon__txt {
  font-size: 14px;
  padding: 20px;
  letter-spacing: 0.05em;
  line-height: 20px;
  font-family: "Noto Sans JP", sans-serif;
  z-index: 10;
}

.message__icon__txt__luv {
  font-size: 13px;
  padding: 20px;
  letter-spacing: 0.05em;
  line-height: 20px;
  font-family: "Noto Sans JP", sans-serif;
  z-index: 10;
}

.message__icon__txt::before {
  position: absolute;
  content: "";
  width: 300px;
  height: 400px;
  background: #ffddae;
  opacity: 0.5;
  top: 10px;
  right: -10px;
  z-index: -1;
}

.message__icon__name {
  font-size: 18px;
  text-align: center;
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: "Noto Sans JP", sans-serif;
  z-index: 10;
}

.taku {
  font-size: 14px;
  padding: 30% 20px;
  line-height: 2;
  font-family: "Noto Sans JP", sans-serif;
  z-index: 1;
}

.fadeIn_item.offs,
.offs .fadeIn_item {
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.fadeIn_item.ons,
.ons .fadeIn_item {
  -webkit-transition: all 1s cubic-bezier(0, 0, 0.13, 0.79);
  transition: all 1s cubic-bezier(0, 0, 0.13, 0.79);
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.note-fromus {
  background-color: #e3f3ff;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 80px 0;
}

.sub__ttl {
  text-align: center;
}

.section__ttl {
  display: inline-block;
  font-size: 36px;
  border-bottom: 2px solid #444;
  padding: 0 10px;
  color: #444;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .section__ttl {
    font-size: 28px;
  }
}

.note-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}

.note-message__icon {
  width: 300px;
  height: 400px;
  border: 1px solid #444;
  background-color: #f8fcff;
  margin: 30px 0;
  position: relative;
}

.note-message__icon::before {
  position: absolute;
  content: "";
  width: 300px;
  height: 400px;
  background: #9ad2fd;
  opacity: 0.5;
  top: 10px;
  right: -10px;
  z-index: -1;
}

.note-message__icon__txt {
  font-size: 13px;
  padding: 20px;
  letter-spacing: 0.05em;
  line-height: 18px;
  font-family: "Noto Sans JP", sans-serif;
}

.note-message__icon__txt__luv {
  font-size: 12px;
  padding: 20px;
  letter-spacing: 0.05em;
  line-height: 18px;
  font-family: "Noto Sans JP", sans-serif;
}

.note-message__icon__name {
  font-size: 18px;
  text-align: center;
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: "Noto Sans JP", sans-serif;
}

.taku {
  font-size: 14px;
  padding: 30% 20px;
  line-height: 2;
  font-family: "Noto Sans JP", sans-serif;
}

.fadeIn_item.offs,
.offs .fadeIn_item {
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.fadeIn_item.ons,
.ons .fadeIn_item {
  -webkit-transition: all 1s cubic-bezier(0, 0, 0.13, 0.79);
  transition: all 1s cubic-bezier(0, 0, 0.13, 0.79);
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
/*# sourceMappingURL=style.css.map */