.mv{
  width: 100%;
  height: 600px;
  position: relative;
  .site__ttl{
    font-size: 30px;
    color: #444;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 45%;
    transform: translate(-30%,-45%);
    font-family: $font_ja;
    @include mq(tab){
      top: 28%;
      left: 43%;
      transform: translate(-28%,-43%);
      font-size: 20px;
      }
      @include mq(sp){
        top: 38%;
        left: 45%;
        transform: translate(-38%,-45%);
        font-size: 16px;
      }
  }
  .mv__ttl{
    font-size: 100px;
    color: #444;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    letter-spacing: 0.1em;
    font-family: $font_ja;
    @include mq(tab){
      size: 60px;
      }
      @include mq(sp){
        font-size: 50px;
      }
  }
  .mv__date{
    font-size: 24px;
    color: #444;
    text-align: center;
    position: absolute;
    letter-spacing: 0.05em;
    top: 70%;
    left: 52%;
    transform: translate(-70%,-52%);
    font-family: $font_ja;
    @include mq(tab){
      font-size: 18px;
      }
      @include mq(sp){
        top: 61%;
        left: 52%;
        transform: translate(-61%,-52%);
        font-size: 16px;
      }
  }
  .fadein {
    opacity: 0;
    animation: fadein 1s ease forwards;
}
@keyframes fadein {
    100% {  opacity: 1;}
}
.site__ttl {animation-delay: 1s;}
.mv__ttl {animation-delay: 3s;}
.mv__date {animation-delay: 5s;}

  .circle-line{
    display: flex;
  }
  .circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: -1;
    @include mq(tab){
      width: 140px;
      height: 140px;
      }
      @include mq(sp){
        width: 70px;
        height: 70px;
      }
  }
  .c01{
    position: absolute;
    background: rgba(255, 166, 166, 0.7);
    top: 36%;
    left: 8%;
    transform: translate(-36%,-8%);
    box-shadow:0px 0px 30px rgb(255, 166, 166);
    @include mq(tab){
      top: 40%;
      left: 8%;
      transform: translate(-40%,-8%);
      }
      @include mq(sp){
        top: 44%;
        left: 9%;
        transform: translate(-44%,-9%);
      }
  }
  .c02{
    background: rgba(255, 203, 154, 0.9);
    position: absolute;
    top: 40%;
    left: 22%;
    transform: translate(-40%,-20%);
    box-shadow:0px 0px 30px rgb(255, 203, 154);
    @include mq(tab){
      top: 43%;
      left: 22%;
      transform: translate(-43%,-22%);
      }
      @include mq(sp){
        top: 46%;
        left: 22%;
        transform: translate(-46%,-22%);
      }
  }
  .c03{
    background: rgba(255, 248, 183, 0.9);
    position: absolute;
    top: 45%;
    left: 36%;
    transform: translate(-45%,-36%);
    box-shadow:0px 0px 30px rgb(255, 248, 183);
    @include mq(tab){
      top: 46%;
      left: 36%;
      transform: translate(-46%,-36%);
      }
      @include mq(sp){
        top: 48%;
        left: 36%;
        transform: translate(-48%,-36%);
      }
  }
  .c04{
    background: rgba(203, 241, 203, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow:0px 0px 30px rgb(203, 241, 203);
  }
  .c05{
    background: rgba(193, 253, 255,0.8);
    position: absolute;
    top: 53%;
    left: 64%;
    transform: translate(-53%,-64%);
    box-shadow:0px 0px 30px rgb(193, 253, 255);
    @include mq(tab){
      top: 54%;
      left: 64%;
      transform: translate(-54%,-64%);
      }
      @include mq(sp){
        top: 52%;
        left: 64%;
        transform: translate(-52%,-64%);
      }
  }
  .c06{
    background: rgba(161, 205, 255, 0.8);
    position: absolute;
    top: 58%;
    left: 78%;
    transform: translate(-58%,-78%);
    box-shadow:0px 0px 30px rgb(161, 205, 255);
    @include mq(tab){
      top: 57%;
      left: 78%;
      transform: translate(-57%,-78%);
      }
      @include mq(sp){
        top: 54%;
        left: 77%;
        transform: translate(-54%,-77%);
      }
  }
  .c07{
    background: rgba(227, 155, 255, 0.8);
    position: absolute;
    top: 63%;
    left: 92%;
    transform: translate(-63%,-92%);
    box-shadow:0px 0px 30px rgb(227, 155, 255);
    @include mq(tab){
      top: 60%;
      left: 92%;
      transform: translate(-60%,-92%);
      }
      @include mq(sp){
        top: 56%;
        left: 90%;
        transform: translate(-56%,-90%);
      }
  }
  &__list{
    display: flex;
    background: #555;
    z-index: -1000;
    margin-top: 190px;
    padding-left: 10px;
    padding-top: 8px;
    &-item{
      font-size: 38px;
      margin: 0 10px;
      position: relative;
      z-index: 1000;
      &::before{
        content: "";
        position: absolute;
        width: 28px;
        height: 28px;
        background:#fff;
        top: 8px;
        left: 3px;
        border-radius: 5px;
        z-index: -1;
      }
    }
  }
}